<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebooks.book.dao.BookMapper">

	<select id="isDuplicatedBook" parameterType="String" resultType="com.bluebooks.book.domain.Book">
	
		SELECT
			`id`
			,`isbn13`
			,`categoryName`
			,`title`
			,`author`
			,`publisher`
			,`pubDate`
			,`description`
			,`priceStandard`
			,`priceSales`
			,`point`
			,`cover`
			,`createdAt`
			,`updatedAt`
		FROM
			`book`
		WHERE
			`isbn13` = #{isbn13}	
	
	</select>

	<insert id="insertBook" parameterType="com.bluebooks.book.domain.Book" useGeneratedKeys="true" keyProperty="id">
	
		INSERT INTO `book`
 		(
			`isbn13`
			,`categoryName`
			,`title`
			,`author`
			,`publisher`
			,`pubDate`
			,`description`
			,`priceStandard`
			,`priceSales`
			,`point`
			,`cover`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{isbn13}
			,#{categoryName}
			,#{title}
			,#{author}
			,#{publisher}
			,#{pubDate}
			,#{description}
			,#{priceStandard}
			,#{priceSales}
			,#{point}
			,#{cover}
			,#{createdAt}
			,#{updatedAt}
 		)
	
	</insert>
	
	<select id="selectBookById" parameterType="int" resultType="com.bluebooks.book.domain.Book">
		SELECT
			`id`
			,`isbn13`
			,`categoryName`
			,`title`
			,`author`
			,`publisher`
			,`pubDate`
			,`description`
			,`priceStandard`
			,`priceSales`
			,`point`
			,`cover`
			,`createdAt`
			,`updatedAt`
		FROM
			`book`
		WHERE
			`id` = #{bookId}	
	</select>
		
	<select id="selectBookByRecentBookIds" parameterType="map" resultType="String">
	
		SELECT
			`cover`
		FROM
			`book`
		WHERE
			`id` IN	
	    <foreach collection="recentBookIds" item="value" index="index" separator="," open="(" close=")">
	    	${value}
	    </foreach>			
		
	</select>
	
</mapper>