<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebooks.cart.dao.CartMapper">
	
	<select id="selectCartListByUserId" parameterType="int" resultType="com.bluebooks.cart.domain.Cart">
		SELECT
			`id`
			,`userId`
			,`bookId`
			,`bookCount`
			,`createdAt`
			,`updatedAt`
		FROM
			`cart`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC	
	</select>
	
	<select id="isItExists" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM
			`cart`
		WHERE
			`userId` = #{userId}
				AND
			`bookId` = #{bookId}
	</select>
	
	<update id="bookCountPlusOne" parameterType="map">
		UPDATE
			`cart`
		SET `bookCount` = `bookCount` + 1
		WHERE
			`userId` = #{userId}
				AND
			`bookId` = #{bookId}
	</update>
	
	<update id="bookCountPlus" parameterType="map">
		UPDATE
			`cart`
		SET `bookCount` = `bookCount` + #{bookCount}
		WHERE
			`userId` = #{userId}
				AND
			`bookId` = #{bookId}
	</update>
	
	<update id="updateBookCount" parameterType="map">
		UPDATE
			`cart`
		SET `bookCount` = #{bookCount}
		WHERE
			`userId` = #{userId}
				AND
			`bookId` = #{bookId}
	</update>
	
	<insert id="insertCart" parameterType="map">
	
		INSERT INTO `cart`
 		(
 			`userId`
			,`bookId`
			,`bookCount`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{bookId}
 			,1
 			,now()
 			,now()
 		)
	
	</insert>
	
	<insert id="insertCartByBookCount" parameterType="map">
	
		INSERT INTO `cart`
 		(
 			`userId`
			,`bookId`
			,`bookCount`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{bookId}
 			,#{bookCount}
 			,now()
 			,now()
 		)
	
	</insert>
	
	<delete id="deleteFromCart" parameterType="map">
		
		DELETE FROM 
			`cart`		
		WHERE 
			`userId` = #{userId}
				AND
			`bookId` IN
 		<foreach collection="bookIdArr" item="value" index="index" separator="," open="(" close=")">
	    	${value}
	    </foreach> 	
		
	</delete>
	
	<select id="selectOrderedCartListByUserIdAndBookId" parameterType="map" resultType="com.bluebooks.cart.domain.Cart">
		SELECT
			`id`
			,`userId`
			,`bookId`
			,`bookCount`
			,`createdAt`
			,`updatedAt`
		FROM
			`cart`
		WHERE
			`userId` = #{userId}
				AND
			`bookId` = #{bookId}
		ORDER BY `id` DESC	
	</select>	
	
	<delete id="deleteCartByUserId" parameterType="int">
		
		DELETE FROM 
			`cart`		
		WHERE 
			`userId` = #{userId}
		
	</delete>
	
</mapper>