<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebooks.withdrawal.dao.WithdrawalMapper">
	
	<insert id="insertWithdrawal" parameterType="map">
		INSERT INTO `withdrawal`
 		(
 			`userId`
			,`userLoginId`
			,`userCreatedAt`
			,`reason`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{userLoginId}
 			,#{userCreatedAt}
 			,#{reason}
 			,now()
 		)
	</insert>
	
	
	
	<select id="selectWithdrawalList" resultType="hashmap">	
		SELECT
			`id`
 			,`userId`
			,`userLoginId`
			,`userCreatedAt`
			,`reason`
			,`createdAt`
 		FROM
 			`withdrawal`
 		ORDER BY `createdAt` DESC
		LIMIT #{pageStart}, #{perPageNum}	
	</select>
		
	<select id="totalCount" resultType="int">
        SELECT 
        	count(*) 
        FROM
        	`withdrawal`
    </select>	
	
</mapper>