<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebooks.withdrawal.dao.WithdrawalMapper">
	
	<insert id="insertWithdrawal" parameterType="map">
		INSERT INTO `withdrawal`
 		(
 			`userId`
			,`userLoginId`
			,`userCreatedAt`
			,`reason`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{userLoginId}
 			,#{userCreatedAt}
 			,#{reason}
 			,now()
 		)
	</insert>
	
	<select id="selectWithdrawalList" resultType="hashmap">
		SELECT *
		FROM (
			SELECT
				@row_number := @row_number + 1 AS row_num,
				`id`
	 			,`userId`
				,`userLoginId`
				,`userCreatedAt`
				,`reason`
				,`createdAt`
	 		FROM
	 			`withdrawal`
	 			(SELECT @row_number := 0) AS t
	 		ORDER BY `createdAt` DESC
 		) AS numbered_rows
		<if test="firstRecordIndex != null and lastRecordIndex != null">
		    HAVING row_num BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
		</if> 			
	</select>
		
	<select id="withdrawalCount" resultType="int">
        SELECT 
        	count(*) 
        FROM
        	`withdrawal`
    </select>	
	
</mapper>